.Top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 90%;
}
.Navigation {
    display: flex;
    justify-content: space-between;
    
}
.nav {
    color: red;
    text-decoration: none;
    margin-left: 20px;
}
.navActive {
    text-decoration: underline;
}