.NotFound {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.Div--error {
    width: 60%;
    text-align: center;
}
.Error {
    color: #FF6060;
    font-size: 288px;
    margin: 0px;

}
.String {
    color: #FF6060;
    font-size: 36px;
    margin: 0px;
}
.link {
    color: #FF6060;
    font-size: 18px;
    margin: 100px;
}
@media screen and (max-width:800px) {
    .Error {
        font-size: 96px;    
    }
    .String {
        font-size: 18px;
    }
    .link {
        font-size: 14px;
    }
}